version: '3.8'

services:
  db:
    image: postgres:15
    container_name: wander-plan-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wanderplan
    volumes:
      - ./docker-data/postgres:/var/lib/postgresql/data